<div class="scroll-y h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button type="button" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-fill">
      <span class="navbar-brand">[[title]]</span>
    </div>
  </nav>

  <div class="container my-3">
    <form (submit)="doSubmit(evt)">
      <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" placeholder="First name" value="{{form.firstname}}">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" placeholder="Last name" value="{{form.lastname}}">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" value="{{form.username}}">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" value="{{form.password}}">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger float-right" (click)="doDelete(evt)" hidden$="[[parameters.id | not]]">Delete</button>
      </div>
    </form>
  </div>
</div>
