<div id="accordion">
  <div class="card">
    <div class="list-group">
      <a href="#!/" class="list-group-item"><span class="oi oi-home"></span> Home</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/transaction/list" class="list-group-item"><span class="oi oi-calculator"></span> Transaction</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/customer/search" class="list-group-item"><span class="oi oi-spreadsheet"></span> Customer</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/customer/search" class="list-group-item"><span class="oi oi-book "></span> Journal</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/customer/search" class="list-group-item"><span class="oi oi-excerpt"></span> Report</a>
    </div>
  </div>


  <div class="card">
    <div class="list-group">
      <a href="#!/user/list" class="list-group-item"><span class="oi oi-person"></span> User</a>
    </div>
  </div>

  <div class="card">
    <a class="card-header" data-toggle="collapse" data-target="#collapse2">Reference</a>
    <div id="collapse2" class="collapse list-group" data-parent="#accordion">
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Product</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> COA</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/login" class="list-group-item"><span class="oi oi-account-logout"></span> Logout</a>
    </div>
  </div>
</div>
